<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.MarineLife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYeVk6dqoUfGF8_62_P2ysu5hE8IUI-5E" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Map" />
        <activity android:name=".MapSelect"/>
        <activity android:name=".DBHelper" />
        <activity android:name=".Graph"/>
        <activity android:name=".GraphSelect" />
        <activity android:name=".TypeSelect"/>
        <activity android:name=".OrganismInfo"/>
        <activity android:name=".PredictSelect"/>
        <activity android:name=".PredictPrice"/>
    </application>

</manifest>